/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Common */
/* Layout */

body {
    background-color: rgb(247, 245, 245);
}

.container {
    width: 60%;
    margin: 0 auto;
    align-items: center ;
}

/* Header */
header {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.logo {
    padding: 15px 0px 15px 20px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 46px;
    
}

/* Main */
/* Buttons */
.bt-task{
    padding: 8px 10px;
    margin-right: 5px;
    background-color: rgb(11, 109, 238);
    border-radius: 10%;
    color: rgb(255, 255, 255);
    border: none;

}

.bg-bt {
    background-color: rgb(255, 255, 255);
    padding: 15px 0px 15px 70px;
    border-radius: 5px;
    margin-top: 50px;
    
}

.bt-section {
    padding: 8px 10px;
    background-color: rgb(240, 237, 237);
    border-radius: 10%;
    color: rgb(211, 211, 211);
    border: none;
}

.bg-main {
    height: 800px;
    width: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 1%;
    margin-top: 2px;
}

/* Lista */
.list-ol {
    text-align: left;
    padding: 20px;
    display: inline-block;
    margin-left: 40px;
    margin-top: 40px;
    list-style: none;
}

.list-ul {
    text-align: left;
    list-style: none;
    margin-top: 10px;
    font-size: 16px;
}
.first-title-ol {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


.title-ol {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 25px;
}

.task-ul {
    margin-top: 10px;
    list-style: none;
}

/* Design list */
.circle-cross {
    color: rgb(255, 0, 0);
    width: 24px;  
    height: 24px; 
    border-radius: 50%;
    border: 1px solid rgb(255, 0, 0);
    display: inline-flex;
    justify-content: center;
}

.circle-check {
    color: rgb(0, 128, 0);
    width: 24px;  
    height: 24px; 
    border-radius: 50%;
    border: 1px solid rgb(0, 128, 0);
    display: inline-flex;
    justify-content: center;
}

.badge {
    border-radius: 35px;
    padding: 7px;
    font-size: 13px;
    display: inline-block;
    color: white;
    font-weight: bold;
} 

.editorial {
    background-color: rgb(38, 122, 233);
}

.q1-goals {
    background-color: rgb(193, 29, 199);
}

.recruiting {
    background-color: rgb(22, 165, 129);
}

.mobile {
        background-color: rgb(250, 175, 12);
}

.website  {
    background-color: rgb(224, 13, 136);
}

.sales  {
    background-color: rgb(90, 197, 3);
}
